<%- layout('layouts/main.ejs') %>
<div class="jumbotron mt-5">
    <h1 class="display-4">Lorem Ipsum is simply dummy text of the printing </h1>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
    <hr class="my-4">
    <p>Lorem Ipsum is simply dummy text of the printing Lorem Ipsum</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem typesetting industry. Lorem</p>
    <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/guillermo-borquez/" role="button" target="_blank">Learn more</a>
</div>
